#cloud-config
package_update: true
packages:
  - nginx
  - git
  - docker.io
  - nginx-extras

write_files:
  - path: /etc/nginx/sites-available/my-site.conf
    permissions: '0644'
    content: |
      server {
        listen 80;
        server_name _;

        location / {
            proxy_pass http://127.0.0.1:5000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            server_tokens off;
            more_set_headers "Server: https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1"
        }
      }

runcmd:
  - ln -s /etc/nginx/sites-available/my-site.conf /etc/nginx/sites-enabled/
  - rm /etc/nginx/sites-enabled/default
  - systemctl restart nginx

  - systemctl start docker
  - systemctl enable docker

  - git clone https://github.com/ivo-velev123/API_task /home/ubuntu/API_task

  - |
    cat > /home/ubuntu/API_task/.env << 'EOF'
    db_url='${db_url}'
    EOF
  - chmod 600 /home/ubuntu/API_task/.env
  - chown ubuntu:ubuntu /home/ubuntu/API_task/.env
  

  - docker build -t myapp:latest /home/ubuntu/API_task

  - docker stop myapp || true
  - docker rm myapp || true

  - docker run -d -p 5000:5000 --name myapp myapp:latest
